* {
    font-family: sans-serif;
}

html {
    width: 100vw;
    height: 100%;
}

body {
    margin: 0px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4481eb), to(#04bedd));
    background-image: -o-linear-gradient(top, #4481eb 0%, #04bedd 100%);
    background-image: linear-gradient(to bottom, #4481eb 0%, #04bedd 100%);
}

p {
    font-size: 40px;
    margin-top: 5px;
}

td {
    background-color: transparent;
    height: 70px;
    width: 70px;
}

td, .inner, .front, .back {
    border-radius: 4px;
}

table {
    margin-top: 80px;
}